.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pageButton {
  padding: 4px 10px;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  font-weight: normal;
  transition:
    background 0.2s,
    color 0.2s;
  color: black;
}

.pageButtonActive {
  background: #ececec;
  font-weight: bold;
  cursor: default;
  color: black;
}

.ellipsis {
  padding: 4px 10px;
  user-select: none;
}

.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
